 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 150px;
  }

  iframe {
    width: 100%;
    height: 95vh;
    max-width: 1200px;
    max-height: 800px;
    border: none;
  }

  /* 🔧 Ajustes solo para móviles */
  @media (max-width: 768px) {
    .container {
      padding-left: 0;
      padding: 1rem;
      height: auto;
    }

    iframe {
      width: 100%;
      height: 75vh;
      max-height: none;
    }
  }