<nav class="navbar navbar-expand-lg navbar-light bg-yellow-pale">
    <div class="container-fluid">
        <a class="navbar-brand" Routerlink="/">
            <img src="/logo.png" alt="Logo" class="logo-navbar">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto nav-links">
                <a class="nav-link" routerLink="/">Inicio</a>
                <a class="nav-link" routerLink="/nosotros">Nosotros</a>
                <a class="nav-link" routerLink="/contactanos">Contáctanos</a>
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                <a class="nav-link" routerLink="/gestion_usuarios">Gestión de usuarios</a>
            </div>
            
        </div>
        <div class="ms-auto">
            <a type="button" class="btn btn-red-rounded" routerLink="/login">Iniciar Sesión</a>
        </div>
    </div>
</nav>